<a href="https://colab.research.google.com/github/maskot1977/Computer_and_Exercises_2021/blob/d7MwW8Ay/%E8%AA%B2%E9%A1%8C%EF%BC%93%EF%BC%91%E3%80%9C%EF%BC%94%EF%BC%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 課題３１

In [ ]:
def task31(k, m):
    for k1 in k:
        for k2 in k:
            for k3 in k:
                for k4 in k:
                    if k1 + k2 + k3 + k4 == m:
                        return True
    return False

In [ ]:
n = 20
m =  496
k =  [240, 471, 143, 482, 231, 127, 482, 145, 195, 336, 31, 83, 450, 376, 108, 133, 118, 340, 400, 170]

In [ ]:
%%timeit
task31(k, m)

100 loops, best of 5: 2.87 ms per loop

In [ ]:
def task31better(k, m):
    for k1 in k:
        for k2 in k:
            if k1 + k2 > m:
                continue
            for k3 in k:
                if k1 + k2 + k3 > m:
                    continue
                for k4 in k:
                    if k1 + k2 + k3 + k4 == m:
                        return True
    return False

In [ ]:
%%timeit
task31better(k, m)

1000 loops, best of 5: 196 µs per loop

# 課題３３

In [ ]:
def task33(x):
    V = [500, 100, 50, 10, 5, 1]
    C = [10, 10, 10, 10, 10, 10]
    nanmai = 0
    for v, c in zip(V, C):
        maisu = min(int(x / v), c)
        if maisu < 0:
            return False
        nanmai += maisu
        x -= v * maisu
        print(v, "円玉が", maisu, "枚")

    if x > 0:
        return False
    else:
        print("合計枚数", nanmai)

In [ ]:
x = 1672
task33(x)

500 円玉が 3 枚
100 円玉が 1 枚
50 円玉が 1 枚
10 円玉が 2 枚
5 円玉が 0 枚
1 円玉が 2 枚
合計枚数 9

In [ ]:
x =  5549
task33(x)

500 円玉が 10 枚
100 円玉が 5 枚
50 円玉が 0 枚
10 円玉が 4 枚
5 円玉が 1 枚
1 円玉が 4 枚
合計枚数 24

In [ ]:
x =  3067
task33(x)

500 円玉が 6 枚
100 円玉が 0 枚
50 円玉が 1 枚
10 円玉が 1 枚
5 円玉が 1 枚
1 円玉が 2 枚
合計枚数 11

In [ ]:
x =  -124
task33(x)

500 円玉が 0 枚

False

In [ ]:
x = 5300000
task33(x)

500 円玉が 10 枚
100 円玉が 10 枚
50 円玉が 10 枚
10 円玉が 10 枚
5 円玉が 10 枚
1 円玉が 10 枚

False

# 課題３４

In [ ]:
def task34(n):
    result = []
    for i in range(2, n):
        if n%i == 0:
            #print(i, n/i)
            result.append(i)

    return result

In [ ]:
n = 60
task34(n)

[2, 3, 4, 5, 6, 10, 12, 15, 20, 30]

In [ ]:
n = 136
task34(n)

[2, 4, 8, 17, 34, 68]

In [ ]:
n = 8075
task34(n)

[5, 17, 19, 25, 85, 95, 323, 425, 475, 1615]

In [ ]:
import math
def task34better(n):
    result = []
    for i in range(2, int(math.sqrt(n)) + 1):
        if n%i == 0:
            #print(i, n/i)
            result.append(i)
            result.append(int(n/i))

    return sorted(result)

In [ ]:
n = 60
task34better(n)

[2, 3, 4, 5, 6, 10, 12, 15, 20, 30]

In [ ]:
%%timeit
n = 8075
task34(n)

1000 loops, best of 5: 669 µs per loop

In [ ]:
%%timeit
n = 8075
task34better(n)

100000 loops, best of 5: 8.24 µs per loop

# 課題３５

In [ ]:
import math
def task35(n):
    if n == 1:
        return False
    result = []
    for i in range(2, int(math.sqrt(n)) + 1):
        if n%i == 0:
            return False
            
    return True

In [ ]:
n = 53
task35(n)

True

In [ ]:
n = 12357
task35(n)

False

In [ ]:
n = 12357
task34better(n)

[3, 9, 1373, 4119]

In [ ]:
n = 941471
task35(n)

True

# 課題３６

In [ ]:
import math
def task36(n):
    result = []
    for i in range(2, int(math.sqrt(n)) + 1):
        while n%i == 0:
            result.append(i)
            n /= i

    if n != 1:
        result.append(int(n))

    return sorted(result)

In [ ]:
n = 60
task36(n)

[2, 2, 3, 5]

In [ ]:
n = 136
task36(n)

[2, 2, 2, 17]

In [ ]:
n = 8075
task36(n)

[5, 5, 17, 19]

# 課題３７

In [ ]:
def task37(n):
    is_prime = [True for _ in range(n + 1)]
    is_prime[0] = False
    is_prime[1] = False
    primes = []
    for i in range(2, n + 1):
        if is_prime[i]:
            primes.append(i)
            j = i * 2
            while j <= n:
                is_prime[j] = False
                j += i

    print(primes)
    return len(primes)

In [ ]:
n = 10
task37(n)

[2, 3, 5, 7]

4

In [ ]:
n = 100
task37(n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
n = 1000
task37(n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

168

# 課題３８

In [ ]:
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)

In [ ]:
def task38(P, Q):
    return gcd(abs(P[0] - Q[0]), abs(P[1] - Q[1])) - 1

In [ ]:
x1 =  -2
y1 =  -9
x2 =  6
y2 =  7
P = [x1, y1]
Q = [x2, y2]
task38(P, Q)

7

In [ ]:
x1 =  -42
y1 =  -65
x2 =  62
y2 =  -91
P = [x1, y1]
Q = [x2, y2]
task38(P, Q)

25

In [ ]:
x1 =  908
y1 =  -307
x2 =  -86
y2 =  -679
P = [x1, y1]
Q = [x2, y2]
task38(P, Q)

1

# 課題３９

In [ ]:
!wget https://raw.githubusercontent.com/maskot1977/ipython_notebook/master/toydata/islands.txt

--2021-11-04 08:50:13--  https://raw.githubusercontent.com/maskot1977/ipython_notebook/master/toydata/islands.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 671 [text/plain]
Saving to: ‘islands.txt’

islands.txt         100%[===================>]     671  --.-KB/s    in 0s

2021-11-04 08:50:13 (25.1 MB/s) - ‘islands.txt’ saved [671/671]

In [ ]:
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])

In [ ]:
data

[['Africa', 11506],
 ['Antarctica', 5500],
 ['Asia', 16988],
 ['Australia', 2968],
 ['Axel Heiberg', 16],
 ['Baffin', 184],
 ['Banks', 23],
 ['Borneo', 280],
 ['Britain', 84],
 ['Celebes', 73],
 ['Celon', 25],
 ['Cuba', 43],
 ['Devon', 21],
 ['Ellesmere', 82],
 ['Europe', 3745],
 ['Greenland', 840],
 ['Hainan', 13],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Honshu', 89],
 ['Iceland', 40],
 ['Ireland', 33],
 ['Java', 49],
 ['Kyushu', 14],
 ['Luzon', 42],
 ['Madagascar', 227],
 ['Melville', 16],
 ['Mindanao', 36],
 ['Moluccas', 29],
 ['New Britain', 15],
 ['New Guinea', 306],
 ['New Zealand (N)', 44],
 ['New Zealand (S)', 58],
 ['Newfoundland', 43],
 ['North America', 9390],
 ['Novaya Zemlya', 32],
 ['Prince of Wales', 13],
 ['Sakhalin', 29],
 ['South America', 6795],
 ['Southampton', 16],
 ['Spitsbergen', 15],
 ['Sumatra', 183],
 ['Taiwan', 14],
 ['Tasmania', 26],
 ['Tierra del Fuego', 19],
 ['Timor', 13],
 ['Vancouver', 12],
 ['Victoria', 82]]

In [ ]:
def bubble_sort(data):
    for i in range(len(data)):
        for j in range(len(data) - 1, i, -1):
            if data[j - 1][1] < data[j][1]:
                data[j - 1][0], data[j][0] = data[j][0], data[j - 1][0]
                data[j - 1][1], data[j][1] = data[j][1], data[j - 1][1]
    return data

In [ ]:
bubble_sort(data)

[['Asia', 16988],
 ['Africa', 11506],
 ['North America', 9390],
 ['South America', 6795],
 ['Antarctica', 5500],
 ['Europe', 3745],
 ['Australia', 2968],
 ['Greenland', 840],
 ['New Guinea', 306],
 ['Borneo', 280],
 ['Madagascar', 227],
 ['Baffin', 184],
 ['Sumatra', 183],
 ['Honshu', 89],
 ['Britain', 84],
 ['Ellesmere', 82],
 ['Victoria', 82],
 ['Celebes', 73],
 ['New Zealand (S)', 58],
 ['Java', 49],
 ['New Zealand (N)', 44],
 ['Cuba', 43],
 ['Newfoundland', 43],
 ['Luzon', 42],
 ['Iceland', 40],
 ['Mindanao', 36],
 ['Ireland', 33],
 ['Novaya Zemlya', 32],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Moluccas', 29],
 ['Sakhalin', 29],
 ['Tasmania', 26],
 ['Celon', 25],
 ['Banks', 23],
 ['Devon', 21],
 ['Tierra del Fuego', 19],
 ['Axel Heiberg', 16],
 ['Melville', 16],
 ['Southampton', 16],
 ['New Britain', 15],
 ['Spitsbergen', 15],
 ['Kyushu', 14],
 ['Taiwan', 14],
 ['Hainan', 13],
 ['Prince of Wales', 13],
 ['Timor', 13],
 ['Vancouver', 12]]

In [ ]:
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])

In [ ]:
def selection_sort(data):
    n = len(data)
    for i in range(0, n - 1):
        max = i
        for j in range(i + 1, n):
            if data[max][1] < data[j][1]:
                max = j

        data[max], data[i] = data[i], data[max]
    
    return data

In [ ]:
selection_sort(data)

[['Asia', 16988],
 ['Africa', 11506],
 ['North America', 9390],
 ['South America', 6795],
 ['Antarctica', 5500],
 ['Europe', 3745],
 ['Australia', 2968],
 ['Greenland', 840],
 ['New Guinea', 306],
 ['Borneo', 280],
 ['Madagascar', 227],
 ['Baffin', 184],
 ['Sumatra', 183],
 ['Honshu', 89],
 ['Britain', 84],
 ['Ellesmere', 82],
 ['Victoria', 82],
 ['Celebes', 73],
 ['New Zealand (S)', 58],
 ['Java', 49],
 ['New Zealand (N)', 44],
 ['Cuba', 43],
 ['Newfoundland', 43],
 ['Luzon', 42],
 ['Iceland', 40],
 ['Mindanao', 36],
 ['Ireland', 33],
 ['Novaya Zemlya', 32],
 ['Hokkaido', 30],
 ['Hispaniola', 30],
 ['Moluccas', 29],
 ['Sakhalin', 29],
 ['Tasmania', 26],
 ['Celon', 25],
 ['Banks', 23],
 ['Devon', 21],
 ['Tierra del Fuego', 19],
 ['Axel Heiberg', 16],
 ['Southampton', 16],
 ['Melville', 16],
 ['Spitsbergen', 15],
 ['New Britain', 15],
 ['Taiwan', 14],
 ['Kyushu', 14],
 ['Prince of Wales', 13],
 ['Timor', 13],
 ['Hainan', 13],
 ['Vancouver', 12]]

In [ ]:
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
data

[['Africa', 11506],
 ['Antarctica', 5500],
 ['Asia', 16988],
 ['Australia', 2968],
 ['Axel Heiberg', 16],
 ['Baffin', 184],
 ['Banks', 23],
 ['Borneo', 280],
 ['Britain', 84],
 ['Celebes', 73],
 ['Celon', 25],
 ['Cuba', 43],
 ['Devon', 21],
 ['Ellesmere', 82],
 ['Europe', 3745],
 ['Greenland', 840],
 ['Hainan', 13],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Honshu', 89],
 ['Iceland', 40],
 ['Ireland', 33],
 ['Java', 49],
 ['Kyushu', 14],
 ['Luzon', 42],
 ['Madagascar', 227],
 ['Melville', 16],
 ['Mindanao', 36],
 ['Moluccas', 29],
 ['New Britain', 15],
 ['New Guinea', 306],
 ['New Zealand (N)', 44],
 ['New Zealand (S)', 58],
 ['Newfoundland', 43],
 ['North America', 9390],
 ['Novaya Zemlya', 32],
 ['Prince of Wales', 13],
 ['Sakhalin', 29],
 ['South America', 6795],
 ['Southampton', 16],
 ['Spitsbergen', 15],
 ['Sumatra', 183],
 ['Taiwan', 14],
 ['Tasmania', 26],
 ['Tierra del Fuego', 19],
 ['Timor', 13],
 ['Vancouver', 12],
 ['Victoria', 82]]

In [ ]:
def insertion_sort(data):
    n = len(data)
    for i in range(n - 1):
        j = i + 1
        while i >= 0:
            if data[j][1] > data[i][1]:
                data[j][0], data[i][0] = data[i][0], data[j][0]
                data[j][1], data[i][1] = data[i][1], data[j][1]
                i -= 1
                j -= 1
            else:
                break
    return data

In [ ]:
insertion_sort(data)

[['Asia', 16988],
 ['Africa', 11506],
 ['North America', 9390],
 ['South America', 6795],
 ['Antarctica', 5500],
 ['Europe', 3745],
 ['Australia', 2968],
 ['Greenland', 840],
 ['New Guinea', 306],
 ['Borneo', 280],
 ['Madagascar', 227],
 ['Baffin', 184],
 ['Sumatra', 183],
 ['Honshu', 89],
 ['Britain', 84],
 ['Ellesmere', 82],
 ['Victoria', 82],
 ['Celebes', 73],
 ['New Zealand (S)', 58],
 ['Java', 49],
 ['New Zealand (N)', 44],
 ['Cuba', 43],
 ['Newfoundland', 43],
 ['Luzon', 42],
 ['Iceland', 40],
 ['Mindanao', 36],
 ['Ireland', 33],
 ['Novaya Zemlya', 32],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Moluccas', 29],
 ['Sakhalin', 29],
 ['Tasmania', 26],
 ['Celon', 25],
 ['Banks', 23],
 ['Devon', 21],
 ['Tierra del Fuego', 19],
 ['Axel Heiberg', 16],
 ['Melville', 16],
 ['Southampton', 16],
 ['New Britain', 15],
 ['Spitsbergen', 15],
 ['Kyushu', 14],
 ['Taiwan', 14],
 ['Hainan', 13],
 ['Prince of Wales', 13],
 ['Timor', 13],
 ['Vancouver', 12]]

In [ ]:
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
data

[['Africa', 11506],
 ['Antarctica', 5500],
 ['Asia', 16988],
 ['Australia', 2968],
 ['Axel Heiberg', 16],
 ['Baffin', 184],
 ['Banks', 23],
 ['Borneo', 280],
 ['Britain', 84],
 ['Celebes', 73],
 ['Celon', 25],
 ['Cuba', 43],
 ['Devon', 21],
 ['Ellesmere', 82],
 ['Europe', 3745],
 ['Greenland', 840],
 ['Hainan', 13],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Honshu', 89],
 ['Iceland', 40],
 ['Ireland', 33],
 ['Java', 49],
 ['Kyushu', 14],
 ['Luzon', 42],
 ['Madagascar', 227],
 ['Melville', 16],
 ['Mindanao', 36],
 ['Moluccas', 29],
 ['New Britain', 15],
 ['New Guinea', 306],
 ['New Zealand (N)', 44],
 ['New Zealand (S)', 58],
 ['Newfoundland', 43],
 ['North America', 9390],
 ['Novaya Zemlya', 32],
 ['Prince of Wales', 13],
 ['Sakhalin', 29],
 ['South America', 6795],
 ['Southampton', 16],
 ['Spitsbergen', 15],
 ['Sumatra', 183],
 ['Taiwan', 14],
 ['Tasmania', 26],
 ['Tierra del Fuego', 19],
 ['Timor', 13],
 ['Vancouver', 12],
 ['Victoria', 82]]

In [ ]:
def quick_sort(data):
    bigger_data = []
    smaller_data = []
    pivot_data = []
    if len(data) <= 1:
        return data

    pivot = data[0][1]

    for i in range(len(data)):
        if data[i][1] > pivot:
            bigger_data.append(data[i])
        elif data[i][1] < pivot:
            smaller_data.append(data[i])
        else:
            pivot_data.append(data[i])
    
    bigger_data = quick_sort(bigger_data)
    smaller_data = quick_sort(smaller_data)

    return bigger_data + pivot_data + smaller_data

In [ ]:
quick_sort(data)

[['Asia', 16988],
 ['Africa', 11506],
 ['North America', 9390],
 ['South America', 6795],
 ['Antarctica', 5500],
 ['Europe', 3745],
 ['Australia', 2968],
 ['Greenland', 840],
 ['New Guinea', 306],
 ['Borneo', 280],
 ['Madagascar', 227],
 ['Baffin', 184],
 ['Sumatra', 183],
 ['Honshu', 89],
 ['Britain', 84],
 ['Ellesmere', 82],
 ['Victoria', 82],
 ['Celebes', 73],
 ['New Zealand (S)', 58],
 ['Java', 49],
 ['New Zealand (N)', 44],
 ['Cuba', 43],
 ['Newfoundland', 43],
 ['Luzon', 42],
 ['Iceland', 40],
 ['Mindanao', 36],
 ['Ireland', 33],
 ['Novaya Zemlya', 32],
 ['Hispaniola', 30],
 ['Hokkaido', 30],
 ['Moluccas', 29],
 ['Sakhalin', 29],
 ['Tasmania', 26],
 ['Celon', 25],
 ['Banks', 23],
 ['Devon', 21],
 ['Tierra del Fuego', 19],
 ['Axel Heiberg', 16],
 ['Melville', 16],
 ['Southampton', 16],
 ['New Britain', 15],
 ['Spitsbergen', 15],
 ['Kyushu', 14],
 ['Taiwan', 14],
 ['Hainan', 13],
 ['Prince of Wales', 13],
 ['Timor', 13],
 ['Vancouver', 12]]

In [ ]:
%%timeit
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
bubble_sort(data)

1000 loops, best of 5: 515 µs per loop

In [ ]:
%%timeit
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
selection_sort(data)

The slowest run took 4.03 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 252 µs per loop

In [ ]:
%%timeit
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
insertion_sort(data)

The slowest run took 4.76 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 357 µs per loop

In [ ]:
%%timeit
data = []
for line in open('islands.txt'):
    c = line.split("\t")
    data.append([c[0], int(c[1])])
quick_sort(data)

The slowest run took 7.40 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 181 µs per loop

# 課題４０

In [ ]:
def task40(infected, acc=0.95):
    tp = infected * acc / (infected * acc + (1 - infected) * (1 - acc))
    fn = infected * (1 - acc) / (infected * (1 - acc) + (1 - infected) * acc)
    return tp, fn

In [ ]:
task40(0.5, acc=0.99)

(0.99, 0.010000000000000009)

In [ ]:
task40(0.1,  acc=0.99)

(0.9166666666666666, 0.0011210762331838576)

In [ ]:
task40(0.01, acc=0.99)

(0.4999999999999997, 0.00010201999591920026)